.root {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-bottom: var(--mantine-spacing-md);
}

.title {
  text-align: center;
}

.action {
  margin-top: var(--mantine-spacing-md);
}
