.letter-item {
  position: relative;
  box-shadow: var(--mantine-shadow-xs);
  transition: var(--surface-hover-transition);
}

.letter-item:hover {
  transform: translateY(var(--surface-hover-translate));
  box-shadow: var(--surface-hover-shadow);
}

.letter-item__main-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.letter-item__content {
  padding: var(--mantine-spacing-md);
}

.letter-item__avatar {
  position: relative;
}

.letter-item__user-link {
  position: relative;
  color: var(--mantine-color-text);
}

.letter-item__participant-row {
  min-width: 0;
  display: flex;
  align-items: start;
  gap: var(--mantine-spacing-xs);
}

.letter-item__participant-label {
  width: rem(52px);
  color: var(--mantine-color-dimmed);
  flex-shrink: 0;
}

.letter-item__participant-value-group {
  gap: rem(5px);
}

.letter-item__participant-value {
  color: var(--mantine-color-text);
  display: block;
  min-width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.letter-item__divider {
  margin-top: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);
}

.letter-item__group-actions {
  margin-top: var(--mantine-spacing-md);
}

.letter-item__action {
  position: relative;
}
