.paper-title {
  margin-bottom: var(--mantine-space-md);
  text-align: center;
}

.captcha {
  margin-top: var(--mantine-spacing-md);
}

.root-error-messsage {
  margin-top: var(--mantine-spacing-xs);
  color: var(--mantine-color-error);
}

.step-one__actions {
  margin-top: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-xs) {
    flex-direction: row-reverse;
  }
}

.step-one__submit {
  width: 100%;

  @media (min-width: $mantine-breakpoint-xs) {
    width: auto;
  }
}
