.paper-title {
  margin-bottom: var(--mantine-space-md);
  text-align: center;
}

.captcha {
  margin-top: var(--mantine-spacing-md);
}

.root-error-messsage {
  margin-top: var(--mantine-spacing-xs);
  color: var(--mantine-color-error);
}
