.thoughts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.5rem);
  justify-content: center;
  grid-gap: 1rem;
}

.thought {
  aspect-ratio: 9 / 10;
  padding: 0.75em;
  color: var(--mantine-color-dark-9);
  border-radius: var(--mantine-radius-xs);
  box-shadow: var(--mantine-shadow-sm);
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-swatch__icon {
  width: rem(18px);
  height: rem(18px);
}
