.container {
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: var(--mantine-spacing-md);
  text-align: center;
}

.skeleton-wrapper-description {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-icon {
  margin-right: rem(5px);
}

.description {
  text-align: center;
  font-weight: bold;
}

.actions-bar {
  margin-top: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);
  display: flex;
  gap: var(--mantine-spacing-md);
}

.actions-bar__search-bar {
  flex: 1;
}

.send-thought-modal__text-input {
  margin-top: var(--mantine-spacing-md);
}

.send-thought-modal__text-input:first-child {
  margin-top: 0;
}

.send-thought-modal__message-length-indicator {
  margin-bottom: var(--mantine-spacing-sm);
  text-align: right;
}

.thoughts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.5rem);
  justify-content: center;
  grid-gap: 1rem;
}

.thought {
  aspect-ratio: 9 / 10;
  padding: 0.75em;
  color: var(--mantine-color-dark-9);
  border-radius: var(--mantine-radius-xs);
  box-shadow: var(--mantine-shadow-sm);
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thought__author {
  text-align: right;
}
