.container {
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.header {
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-sm);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-sm) {
    padding: var(--mantine-spacing-xl);
    gap: var(--mantine-spacing-xl);
    flex-direction: row;
  }
}

.header__eyebrow {
  margin-bottom: var(--mantine-spacing-xs);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.header__title {
  margin-bottom: var(--mantine-spacing-sm);

  @media (min-width: $mantine-breakpoint-sm) {
    font-size: rem(40px);
  }
}

.header__description {
  margin-bottom: var(--mantine-spacing-md);
  color: var(--mantine-color-dimmed);
}

.header__skeleton-wrapper-thought-counter {
  padding: calc(var(--mantine-spacing-xs) / 2) var(--mantine-spacing-xs);
  border: 1px solid var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-md);

  width: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.header__thought-counter {
  text-align: center;
  font-weight: bold;
  font-size: var(--mantine-font-size-sm);
}

.header__thought-counter-icon {
  margin-right: rem(5px);
}

.header__notes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-sm) {
    width: auto;
  }
}

.header__note {
  width: 100%;
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  box-shadow: var(--mantine-shadow-sm);
}

.header__note-title {
  font-weight: 700;
  margin-bottom: var(--mantine-spacing-xs);
}

.header__note-description {
  color: var(--mantine-color-dimmed);
}

.actions-bar {
  margin-top: var(--mantine-spacing-md);
  margin-bottom: var(--mantine-spacing-md);
  display: flex;
  gap: var(--mantine-spacing-md);
}

.actions-bar__search-bar {
  flex: 1;
}

.send-thought-modal__text-input {
  margin-top: var(--mantine-spacing-md);
}

.send-thought-modal__text-input:first-child {
  margin-top: 0;
}

.send-thought-modal__message-length-indicator {
  color: var(--mantine-color-error);
}

.send-thought-modal__captcha {
  margin-top: var(--mantine-spacing-md);
}

.send-thought-modal__root-error-messsage {
  margin-top: var(--mantine-spacing-xs);
  color: var(--mantine-color-error);
}

.thoughts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.5rem);
  justify-content: center;
  grid-gap: 1rem;
}

.thought {
  aspect-ratio: 9 / 10;
  padding: 0.75em;
  color: var(--mantine-color-dark-9);
  border-radius: var(--mantine-radius-xs);
  box-shadow: var(--mantine-shadow-sm);
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thought__author {
  text-align: right;
}
