.profile-picture-container {
  position: relative;
}

.profile-picture-container__edit-button {
  position: absolute;
  bottom: 7.5%;
  left: -7.5%;
}

.account-item__text-value {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  word-break: break-word;
}
