.container {
  width: 100%;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
}

.header {
  margin-bottom: var(--mantine-spacing-xs);
  display: flex;
  justify-content: space-between;
}

.header__info {
  display: flex;
  gap: var(--mantine-spacing-xs);
  align-items: center;
}

.header__author-name {
  color: var(--mantine-color-text);
  font-weight: bold;
}

.header__created-at {
  color: var(--mantine-color-dimmed);
}

.recipient {
  margin-bottom: var(--mantine-spacing-md);
  color: var(--mantine-color-dimmed);
}

.letter-editor-root-error-messsage {
  margin-top: var(--mantine-spacing-xs);
  color: var(--mantine-color-error);
}

.replies {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
}

.reply-item__header {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-md);
}

.reply-item__author-container {
  display: flex;
  align-items: center;
}

.reply-item__author-name {
  color: var(--mantine-color-text);
  font-weight: bold;
}

.reply-item__author-op-badge {
  margin-left: rem(5px);
  color: var(--mantine-color-blue-text);
  font-weight: bold;
}

.reply-item__author-self-badge {
  margin-left: rem(5px);
  color: var(--mantine-color-dimmed);
  font-weight: bold;
}

.reply-item__created-at {
  color: var(--mantine-color-dimmed);
}

.reply-item__more-action-btn {
  margin-left: auto;
}

.reply-item__content {
  margin-top: var(--mantine-spacing-sm);
  padding-left: rem(54px);
}

.reply-item__like-btn {
  margin-top: var(--mantine-spacing-md);
}
