.container {
  width: 100%;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header__meta {
  margin-bottom: var(--mantine-spacing-sm);
  display: flex;
  justify-content: flex-end;
}

.header__participant-row {
  min-width: 0;
  display: flex;
  align-items: start;
  gap: var(--mantine-spacing-xs);
}

.header__participant-label {
  width: rem(52px);
  color: var(--mantine-color-dimmed);
  flex-shrink: 0;
}

.header__participant-value-group {
  gap: rem(5px);
}

.header__participant-value {
  color: var(--mantine-color-text);
  display: block;
  min-width: 0;
  flex: 1;
  overflow-wrap: anywhere;
  word-break: break-word;
}

.divider {
  margin-bottom: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
}

.letter-editor-root-error-messsage {
  margin-top: var(--mantine-spacing-xs);
  color: var(--mantine-color-error);
}

.length-indicator {
  color: var(--mantine-color-error);
}

.reply-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.replies {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-lg);
}

.replies-prompt {
  padding: var(--mantine-spacing-xl) 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.replies-prompt__icon {
  margin-bottom: var(--mantine-spacing-md);
}

.replies-prompt__title {
  text-align: center;
}

.reply-item__header {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-md);
}

.reply-item__author-container {
  display: flex;
  align-items: center;
}

.reply-item__author-name {
  color: var(--mantine-color-text);
  font-weight: bold;
}

.reply-item__author-op-badge {
  margin-left: rem(5px);
  color: var(--mantine-color-blue-text);
  font-weight: bold;
}

.reply-item__author-self-badge {
  margin-left: rem(5px);
  color: var(--mantine-color-dimmed);
  font-weight: bold;
}

.reply-item__created-at {
  color: var(--mantine-color-dimmed);
}

.reply-item__more-action-btn {
  margin-left: auto;
}

.reply-item__content {
  margin-top: var(--mantine-spacing-sm);
  padding-left: rem(54px);
}

.reply-item__like-btn {
  margin-top: var(--mantine-spacing-md);
}
