.main-content {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap: var(--mantine-spacing-xl);

  @media (min-width: $mantine-breakpoint-sm) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.user-info {
  flex: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: none;
  gap: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-sm) {
    flex: 1;
    width: auto;
    max-width: rem(720px);
  }
}

.user-info__account-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: var(--mantine-spacing-md);
}

.account-item__skeleton-wrapper-value {
  width: auto;
  min-width: rem(150px);
}

.account-item__value {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  word-break: break-word;
}

.account-item__right-section {
  min-width: rem(125px);
  display: flex;
  justify-content: flex-end;
  gap: var(--mantine-spacing-sm);
}

.profile-picture-container {
  position: relative;
}

.profile-picture {
  width: rem(200px);
  height: rem(200px);
}

.profile-picture-container__edit-button {
  position: absolute;
  bottom: 7.5%;
  left: -7.5%;
}

.upload-profile-picture-modal__avatar {
  margin: var(--mantine-spacing-lg);
  width: rem(200px);
  height: rem(200px);
}

.upload-profile-picture-modal__error-message {
  color: var(--mantine-color-error);
}

.accounts {
  margin-top: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.qr-code-container {
  position: relative;
  display: inline-block;
  padding: var(--mantine-spacing-xs);
  border-radius: var(--mantine-radius-md);
  background-color: var(--mantine-color-white);
  aspect-ratio: 1 / 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code {
  width: 100%;
  height: 100%;
  background-color: inherit;
}

.enable-two-factor-modal__steps {
  display: none;
}

.enable-two-factor-modal__content {
  padding: 0;
}

.enable-two-factor-modal__title {
  font-weight: bold;
}

.enable-two-factor-modal__qr-code-step__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-md);
}

.enable-two-factor-modal__qr-code-step__row__image {
  flex: 1;
}

.enable-two-factor-modal__qr-code-step__row__content {
  flex: 2;
}

.backup-codes-modal__code {
  padding: var(--mantine-spacing-sm);
  box-shadow: var(--mantine-shadow-xs);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
