.container {
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: var(--mantine-spacing-xl);
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: var(--mantine-spacing-xs);
}

.content {
  margin-bottom: var(--mantine-spacing-lg);
}

.content:last-child {
  margin-bottom: 0;
}

.label {
  font-weight: bold;
}

.description {
  color: var(--mantine-color-dimmed);
}
