.container {
  height: 100%;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--mantine-spacing-md);
}

.title {
  text-transform: uppercase;
  text-align: center;
}

.title__status-code {
  display: block;
  font-size: 6rem;
  text-align: center;
}

.description {
  text-align: center;
}

