.notification__dropdown {
  max-width: min(rem(500px), calc(100vw - var(--mantine-spacing-md)));
}

.notification__title {
  font-weight: bold;
}

.notification-item {
  position: relative;
}

.notification-item--unread {
  background-color: var(--mantine-primary-color-light);
}

.notification-item--unread:hover {
  background-color: var(--mantine-primary-color-light-hover);
}

.notification-item__overlay-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.notification-item__content {
  position: relative;
  pointer-events: none;
}

.notification-item__actor {
  font-weight: bold;
}
