.thread {
  transition: all 0.3s ease;
}

.thread:hover {
  transform: translateY(calc(-1 * var(--mantine-spacing-xs)));
}

.thread__main-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.thread__link {
  color: var(--mantine-color-text);
}

.action-overide[data-selected="true"] {
  color: var(--mantine-color-default-color);
  background-color: #0000;
}

.action-overide[data-selected="true"]:hover {
  background-color: var(--mantine-color-default);
}
