.header {
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  display: flex;
  align-items: center;
}

.header__info {
  margin-left: var(--mantine-spacing-md);
}

.header__bio {
  color: var(--mantine-color-dimmed);
}

.tab-content {
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);
}

.tab-content-container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.tab-prompt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-prompt__description {
  text-align: center;
}

.tab-prompt__create-button {
  margin-top: var(--mantine-spacing-md);
}

.user-comment-item {
  position: relative;
  box-shadow: var(--mantine-shadow-xs);
  transition: all 0.3s ease;
}

.user-comment-item:hover {
  transform: translateY(calc(-1 * var(--mantine-spacing-xs)));
}

.user-comment-item__main-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.user-comment-item__content {
  padding: var(--mantine-spacing-md);
}

.user-comment-item__header {
  margin-bottom: var(--mantine-spacing-sm);
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.user-comment-item__anonymous-avatar {
  pointer-events: none;
}

.user-comment-item__like-btn {
  position: relative;
  margin-top: var(--mantine-spacing-md);
}

.user-comment-item__link {
  position: relative;
  font-weight: bold;
  color: var(--mantine-color-text);
}
