.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  padding-left: 0;
  padding-right: 0;
}

.title {
  margin-bottom: var(--mantine-spacing-lg);
}

.header {
  border-radius: var(--mantine-radius-sm);
  margin-bottom: var(--mantine-spacing-md);
}

.header__card {
  padding: var(--mantine-spacing-md);
}

.header__card__content {
  margin-top: var(--mantine-spacing-xs);
  margin-left: rem(32px);
}

.header__card__content--user-display {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.recipient-input {
  margin-bottom: var(--mantine-spacing-md);
}

.root-error-messsage {
  margin-top: var(--mantine-spacing-xs);
  color: var(--mantine-color-error);
}

.length-indicator {
  color: var(--mantine-color-error);
}

.submit-button {
  flex-shrink: 0;
}
